@model IEnumerable<Siakad.Models.ContactDto>

@* @{
    ViewData["Title"] = "Index";
} *@


<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nama)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nim)
            </th>
            <th>
                 @Html.DisplayNameFor(model => model.Jurusan)
            </th>
            <th>
                 @Html.DisplayNameFor(model => model.Fakultas)
            </th>
            <th>
                 @Html.DisplayNameFor(model => model.DosenPembimbing)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nama)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nim)
                </td>
                <td>
                     @Html.DisplayFor(modelItem => item.Jurusan)
                </td>
                <td>
                     @Html.DisplayFor(modelItem => item.Fakultas)

                </td>
                <td>
                     @Html.DisplayFor(modelItem => item.DosenPembimbing)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.id })
                </td>
            </tr>
        }
    </tbody>
</table>
